<div class="row">
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">

  </div>
  <div class="modal-body">
    <p>Data Saved.</p>
  </div>

</ng-template>

  <ba-card class="col-xlg-6 col-xl-6 col-lg-12 col-sm-12 col-12" cardTitle="Configure your Chat" baCardClass="traffic-panel ">
    <form class="form-horizontal" #formData='ngForm' action="#" novalidate="" (ngSubmit)="onSubmit(formData)" class="ng-untouched ng-pristine ng-valid">

        <ba-card class="col-xlg-6 col-xl-6 col-lg-12 col-sm-12 col-12" cardTitle="Your Details" baCardClass="traffic-panel ">
            <div class="form-group row">
              <label for="inputPassword3" class="col-sm-3 form-control-label">Chat Title</label>

              <div class="col-sm-9">
                <input type="text" placeholder="Chat Title" (ngModelChange)="confdata ? confdata.name = $event : null" [ngModel]="confdata?.name" name="name"  class="form-control">

              </div>
            </div>

      <!--div class="form-group row">
        <label for="inputEmail3" class="col-sm-3 form-control-label">Blog name</label>
        <div class="col-sm-9">
          <input type="text" placeholder="Blog Name" [ngModel]="confdata?.blogname" (ngModelChange)="confdata ? confdata.blogname = $event : null" name="blogname"
            class="form-control">
        </div>
      </div-->
      <div class="form-group row">
        <label for="inputPassword3" class="col-sm-3 form-control-label">Blog URL</label>
        <div class="col-sm-9">
          <input type="text" placeholder="Blog Url" [ngModel]="confdata?.blogurl" (ngModelChange)=" confdata.blogurl = $event"  name="blogurl"
            class="form-control">
        </div>
      </div>
    </ba-card>

      <ba-card class="col-xlg-6 col-xl-6 col-lg-12 col-sm-12 col-12" cardTitle="Default Optin" baCardClass="traffic-panel ">
      <div class="form-group row">
        <label for="inputPopup" class="col-sm-3 form-control-label">Optin Offer</label>
        <div class="col-sm-9">
          <input type="text" placeholder="Popup message for your chat" (ngModelChange)="confdata ? confdata.popupmsg = $event : null" [ngModel]="confdata?.popupmsg"
            name="popupmsg" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPopup" class="col-sm-3 form-control-label">Optin Response</label>
        <div class="col-sm-9">
          <input type="text" placeholder="Response that you send back" (ngModelChange)="confdata ? confdata.optinresponse = $event : null" [ngModel]="confdata?.optinresponse"
            name="optinresponse" class="form-control">
        </div>
      </div>
    </ba-card>

    <ba-card class="col-xlg-6 col-xl-6 col-lg-12 col-sm-12 col-12" cardTitle="About Blog" baCardClass="traffic-panel ">
        <div class="form-group row">
          <label for="inputabout" class="col-sm-3 form-control-label">About the Blog</label>
          <div class="col-sm-9">
            <input type="text" placeholder="About Your Blog" (ngModelChange)="confdata ? confdata.aboutus = $event : null" [ngModel]="confdata?.aboutus"
              name="aboutus" class="form-control">
          </div>
        </div>
        <div class="form-group row">
          <label for="contactinfo" class="col-sm-3 form-control-label">Contact Information</label>
          <div class="col-sm-9">
            <input type="text" placeholder="Your contact info" (ngModelChange)="confdata ? confdata.contactinfo = $event : null" [ngModel]="confdata?.contactinfo"
              name="contactinfo" class="form-control">
          </div>
        </div>
      </ba-card>

      <ba-card class="col-xlg-6 col-xl-6 col-lg-12 col-sm-12 col-12" cardTitle="Special Offers" baCardClass="traffic-panel ">
        <div class="form-group row">
          <label for="inputabout" class="col-sm-3 form-control-label">Offer Name</label>
          <div class="col-sm-9">
            <input type="text" placeholder="About Your Offer" (ngModelChange)="confdata ? confdata.offer = $event : null" [ngModel]="confdata?.offer"
              name="offer" class="form-control">
          </div>
        </div>
        <div class="form-group row">
          <label for="contactinfo" class="col-sm-3 form-control-label">Offer Details</label>
          <div class="col-sm-9">
            <input type="text" placeholder="Find more details" (ngModelChange)="confdata ? confdata.offerdet = $event : null" [ngModel]="confdata?.offerdet"
              name="offerdet" class="form-control">
          </div>
        </div>
      </ba-card>

      <!--<div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 form-control-label">Password</label>
    <div class="col-sm-10">
      <input type="email" placeholder="Email" (ngModel)="formdata.email" name="email" value="{{formdata&&formdata.email}}" class="form-control">
    </div>
  </div>-->


     <div class="form-group row">
        <!--label for="inputPassword3" class="col-sm-3 form-control-label">Profile Image</label-->
        <div class="col-sm-6">
          <ba-card cardTitle="Chat Avatar" baCardClass="with-scroll">
            <ba-picture-uploader  [picture]="confdata?.imageurl ? confdata.imageurl :''" [defaultPicture]=" confdata?.imageurl ? confdata.imageurl : defaultPicture" [uploaderOptions]="uploaderOptions" (onPictureChanged)="onPictureChanged($event)"></ba-picture-uploader>
          </ba-card>
        </div>
      </div>
    <div class="form-group row">
        <div class="offset-sm-3 col-sm-9">
          <button type="submit" [disabled]="!formData.valid" class="btn btn-success margin10">Update</button>
        </div>
    </div>

    </form>

  </ba-card>

</div>

<div class="row">
    <ba-card class="col-xlg-6 col-xl-6 col-lg-12 col-sm-12 col-12" cardTitle="Setup the plugin" baCardClass="traffic-panel ">

        <div class="row">
            <div class="offset-sm-12 col-sm-9">
                <label for="inputPassword3" class="col-sm-6">Download the plugin</label>
              <button type="button" class="btn btn-success margin10">Download</button>
            </div>
        </div>

        <div class="row">
            <div class="offset-sm-12 col-sm-9">
              <br/>
                <label for="inputPassword3" class="col-sm-12 form-control-label">Here is your key: sdfsdkbsdkb 23423  </label>
                <!--input type="text" value="0ebfskjdsb" disabled class="col-sm-6 form-control" /-->
            </div>
        </div>

      </ba-card>

  </div>

