<div class="row">

    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <!-- <pie-chart></pie-chart> -->

      <ng-template #mailerLitecontent let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title">Mailer Lite Integration</h4>
          <button type="button" class="close" aria-label="Close" (click)="d()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group col-md-12">
            <label for="Mailer">Please Enter API Key here..</label>
            <div class="input-group">
              <input #apiKey type="text" placeholder="API Key" class="form-control">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-success" (click)="getList(apiKey.value)">getList</button>
              </span>
            </div>
            <div *ngIf="list.length" class="form-group">
              <label for="mlSelect1">Select Group</label>
              <select class="form-control" id="mlSelect1" [(ngModel)]="SelectedValue">
                <option *ngFor="let listItem of list" [ngValue]="listItem">{{listItem.name}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success" (click)="c(apiKey.value)" [disabled]="!apiKey.value || !SelectedValue">Connect</button>
          <button type="button" class="btn btn-danger" (click)="d()">Close</button>
        </div>
      </ng-template>

      <ng-template #mailChimpContent let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title">Mail Chimp Integration</h4>
          <button type="button" class="close" aria-label="Close" (click)="d()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group col-md-12">
            <div *ngIf="list.length" class="form-group">
              <label for="mlSelect1">Select List</label>
              <select class="form-control" id="mlSelect1" [(ngModel)]="SelectedValue">
                  <option *ngFor="let listItem of list" [ngValue]="listItem">{{listItem.name}}</option>
                </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success" [disabled]="!SelectedValue" (click)="c()">Save</button>
          <button type="button" class="btn btn-danger" (click)="d()">Close</button>
        </div>
      </ng-template>

      <ba-card class="pie-chart-item-container col-xlg-3 col-lg-3 col-md-6 col-sm-12 col-12">

        <div class="pie-chart-item">
          <img src="{{ ( 'app/integration/mailchimp.jpg' | baAppPicture ) }}" />
          <div class="description">
            <div translate></div>
            <div class="description-stats"><button [ngClass]="{'selected': emailProvider == 'mailchimp'}" (click)="connectMailChimp(mailChimpContent)" type="submit" class="btn btn-outline-primary margin10">{{emailProvider == 'mailchimp'? 'Reconfigure!': 'Configure'}}</button></div>
          </div>
          <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header">
            </div>
            <div class="modal-body">
              <p>Saved</p>
            </div>

          </ng-template>
        </div>

      </ba-card>

      <ba-card class="pie-chart-item-container col-xlg-3 col-lg-3 col-md-6 col-sm-12 col-12">

        <div class="pie-chart-item">
          <img src="{{ ( 'app/integration/mailerlite.jpg' | baAppPicture ) }}" />
          <div class="description">
            <div translate></div>
            <div class="description-stats"><button [ngClass]="{'selected': emailProvider == 'mailerlite'}" (click)="connectMailerLite(mailerLitecontent)" type="submit" class="btn btn-outline-primary margin10">{{emailProvider == 'mailerlite'? 'Reconfigure!': 'Configure'}}</button></div>
          </div>

        </div>

      </ba-card>

      <ba-card class="pie-chart-item-container col-xlg-3 col-lg-3 col-md-6 col-sm-12 col-12">

        <div class="pie-chart-item">
          <img src="{{ ( 'app/integration/converkit.jpg' | baAppPicture ) }}" />
          <div class="description">
            <div translate></div>
            <div class="description-stats"><button type="submit" class="btn btn-outline-primary margin10">Configure</button></div>
          </div>

        </div>

      </ba-card>

      <ba-card class="pie-chart-item-container col-xlg-3 col-lg-3 col-md-6 col-sm-12 col-12">

        <div class="pie-chart-item">
          <img src="{{ ( 'app/integration/aweber.jpg' | baAppPicture ) }}" />
          <div class="description">
            <div translate></div>
            <div class="description-stats"><button type="submit" class="btn btn-outline-primary margin10">Configure</button></div>
          </div>

        </div>

      </ba-card>

      <ba-card class="pie-chart-item-container col-xlg-3 col-lg-3 col-md-6 col-sm-12 col-12">

        <div class="pie-chart-item">
          <img src="{{ ( 'app/integration/drip.jpg' | baAppPicture ) }}" />
          <div class="description">
            <div translate></div>
            <div class="description-stats"><button type="submit" class="btn btn-outline-primary margin10">Configure</button></div>
          </div>

        </div>

      </ba-card>
      <ba-card class="pie-chart-item-container col-xlg-3 col-lg-3 col-md-6 col-sm-12 col-12">

        <div class="pie-chart-item">
          <img src="{{ ( 'app/integration/zapier.jpg' | baAppPicture ) }}" />
          <div class="description">
            <div translate></div>
            <div class="description-stats"><button type="submit" class="btn btn-outline-primary margin10">Configure</button></div>
          </div>

        </div>

      </ba-card>
    </div>
  </div>
