<div class="row">

  <ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">

  </div>
  <div class="modal-body">
    <form class="form-horizontal" #formData='ngForm' action="#" novalidate="" (ngSubmit)="onSubmit(formData)" class="ng-untouched ng-pristine ng-valid">
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-3 form-control-label">Blog name</label>
        <div class="col-sm-9">
          <input type="text" placeholder="Blog Name" [(ngModel)]="formdata.blogname" name="blogname" value="{{formdata&&formdata.blogname}}"
            class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPassword3" class="col-sm-3 form-control-label">Blog URL</label>
        <div class="col-sm-9">
          <input type="text" placeholder="Blog Url" [(ngModel)]="formdata.blogurl" name="blogurl" value="{{formdata&&formdata.blogurl}}"
            class="form-control">
        </div>
      </div>
    </form>
  </div>
</ng-template>

  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <!-- <pie-chart></pie-chart> -->

    <ba-card class="pie-chart-item-container col-xlg-3 col-lg-3 col-md-6 col-sm-12 col-12">

      <div class="pie-chart-item">
        <img src="{{ ( 'app/integration/mailchimp.jpg' | baAppPicture ) }}" />
        <div class="description">
          <div translate></div>
          <div class="description-stats"><button (click)="connectMailChimp()" type="submit" class="btn btn-outline-primary margin10">Configure</button></div>
        </div>

      </div>

    </ba-card>

    <ba-card class="pie-chart-item-container col-xlg-3 col-lg-3 col-md-6 col-sm-12 col-12">

      <div class="pie-chart-item">
        <img src="{{ ( 'app/integration/mailerlite.jpg' | baAppPicture ) }}" />
        <div class="description">
          <div translate></div>
          <div class="description-stats"><button (click)="connectMailerLite()" type="submit" class="btn btn-outline-primary margin10">Configure</button></div>
        </div>

      </div>

    </ba-card>

    <ba-card class="pie-chart-item-container col-xlg-3 col-lg-3 col-md-6 col-sm-12 col-12">

      <div class="pie-chart-item">
        <img src="{{ ( 'app/integration/converkit.jpg' | baAppPicture ) }}" />
        <div class="description">
          <div translate></div>
          <div class="description-stats"><button type="submit" class="btn btn-outline-primary margin10">Configure</button></div>
        </div>

      </div>

    </ba-card>

    <ba-card class="pie-chart-item-container col-xlg-3 col-lg-3 col-md-6 col-sm-12 col-12">

      <div class="pie-chart-item">
        <img src="{{ ( 'app/integration/aweber.jpg' | baAppPicture ) }}" />
        <div class="description">
          <div translate></div>
          <div class="description-stats"><button type="submit" class="btn btn-outline-primary margin10">Configure</button></div>
        </div>

      </div>

    </ba-card>

    <ba-card class="pie-chart-item-container col-xlg-3 col-lg-3 col-md-6 col-sm-12 col-12">

      <div class="pie-chart-item">
        <img src="{{ ( 'app/integration/drip.jpg' | baAppPicture ) }}" />
        <div class="description">
          <div translate></div>
          <div class="description-stats"><button type="submit" class="btn btn-outline-primary margin10">Configure</button></div>
        </div>

      </div>

    </ba-card>
    <ba-card class="pie-chart-item-container col-xlg-3 col-lg-3 col-md-6 col-sm-12 col-12">

      <div class="pie-chart-item">
        <img src="{{ ( 'app/integration/zapier.jpg' | baAppPicture ) }}" />
        <div class="description">
          <div translate></div>
          <div class="description-stats"><button type="submit" class="btn btn-outline-primary margin10">Configure</button></div>
        </div>

      </div>

    </ba-card>
  </div>
</div>
