<div class="auth-main">
  <div class="auth-block">
    <h1 translate>Forgot Password?</h1>
    <div class="text-center">
      <h3>
        <i class="fa fa-lock fa-4x"></i>
      </h3>
      <h2 class="text-center">Forgot Password?</h2>
      <p>You can reset your password here.</p>
      <div class="panel-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-horizontal">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-envelope" aria-hidden="true"></i>
              </span>
              <input [formControl]="email" type="email" id="email" name="email" placeholder="email address" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <input [disabled]="!form.valid" name="recover-submit" class="btn btn-lg btn-primary" value="Reset Password" (click)="forgotPassword(email.value)"
              type="submit">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>