<div class="row">
  <div class="col-md-12 welcomemsg"> Hello {{( name && name.displayName) ||(name && name.email ) }} !</div>
</div>

<div class="row">
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
<ba-card class="col-xlg-6 col-lg-6 col-md-12 col-sm-12 col-12">
<form [formGroup]="dateRangeForm">
      <div class="row col-xs-12 form-group" [class.has-error]="!dateRangeForm.valid && dateRangeForm.errors">
        <div class="col-sm-6" [class.has-error]="dateRangeForm.controls.startDate.errors">
          <label class="control-label">From</label>
          <input type="date" class="form-control" [formControl]="dateRangeForm.controls.startDate" />
        </div>
        <div class="col-sm-6" [class.has-error]="dateRangeForm.controls.endDate.errors">
          <label class="control-label">To</label>
          <input type="date" class="form-control" [formControl]="dateRangeForm.controls.endDate" />
        </div>
      </div>
      <ul *ngIf="!dateRangeForm.valid || dateRangeForm.errors" class="text-danger">
        <li *ngIf="dateRangeForm.controls.startDate.errors?.required"><strong>From</strong> date is required.</li>
        <li *ngIf="dateRangeForm.controls.endDate.errors?.required"><strong>To</strong> date is required.</li>
        <li *ngIf="dateRangeForm.errors?.greaterStartDate"><strong>From</strong> date should not greater than <strong>To</strong> date.</li>
      </ul>
    </form>
</ba-card>
</div>
</div>
<div class="row">

  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <!-- <pie-chart></pie-chart> -->


    <ba-card class="pie-chart-item-container col-xlg-3 col-lg-3 col-md-6 col-sm-12 col-12">



      <div class="pie-chart-item">
        <div class="description">
          <div translate>Visitors</div>
          <div class="description-stats">324</div>
        </div>

      </div>

    </ba-card>

    <ba-card class="pie-chart-item-container col-xlg-3 col-lg-3 col-md-6 col-sm-12 col-12">

      <div class="pie-chart-item">
        <div class="description">
          <div translate>Topics</div>
          <div class="description-stats">3</div>
        </div>

      </div>

    </ba-card>

    <ba-card class="pie-chart-item-container col-xlg-3 col-lg-3 col-md-6 col-sm-12 col-12">

      <div class="pie-chart-item">
        <div class="description">
          <div translate>Emails</div>
          <div class="description-stats">34</div>
        </div>

      </div>

    </ba-card>

    <ba-card class="pie-chart-item-container col-xlg-3 col-lg-3 col-md-6 col-sm-12 col-12">

      <div class="pie-chart-item">
        <div class="description">
          <div translate>Product</div>
          <div class="description-stats">2</div>
        </div>

      </div>

    </ba-card>

  </div>
</div>

<div class="row">
  <ba-card class="col-xlg-6 col-xl-6 col-lg-12 col-sm-12 col-12" cardTitle="List of Emails" baCardClass="traffic-panel medium-card with-scroll">

    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Email</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of emailsListData; let counter = index;">
          <td>{{ counter + 1 }}</td>
          <td>{{ item?.userName || '-' }}</td>
          <td>{{ item?.emailID  || '-' }}</td>
          <td>{{ item?.date || '-' }}</td>
        </tr>
      </tbody>
    </table>

  </ba-card>

  <ba-card class="col-xlg-6 col-xl-6 col-lg-12 col-sm-12 col-12" cardTitle="List of Topics" baCardClass="medium-card with-scroll">

    <table class="table table-hover table-bordered">
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Email</th>
        <th>Date</th>
      </tr>

       <tr *ngFor="let item of topicListData; let counter = index;">
          <td>{{ counter + 1 }}</td>
          <td>{{ item?.userName || '-' }}</td>
          <td>{{ item?.emailID  || '-' }}</td>
          <td>{{ item?.date || '-' }}</td>
        </tr>
    </table>

  </ba-card>
</div>

<div class="row">
  <ba-card class="col-xlg-6 col-xl-6 col-lg-12 col-sm-12 col-12" cardTitle="List of Products" baCardClass="traffic-panel medium-card">

    <table class="table table-hover table-bordered">
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Email</th>
        <th>Date</th>
      </tr>

      <tr *ngFor="let item of productListData; let counter = index;">
          <td>{{ counter + 1 }}</td>
          <td>{{ item?.userName || '-' }}</td>
          <td>{{ item?.emailID  || '-' }}</td>
          <td>{{ item?.date || '-' }}</td>
        </tr>
    </table>

  </ba-card>

  <ba-card class="col-xlg-6 col-xl-6 col-lg-12 col-sm-12 col-12" cardTitle="List of Queries" baCardClass="medium-card">
    <table class="table table-hover table-bordered">
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Email</th>
        <th>Date</th>
      </tr>

      <tr *ngFor="let item of queryListData; let counter = index;">
          <td>{{ counter + 1 }}</td>
          <td>{{ item?.userName || '-' }}</td>
          <td>{{ item?.emailID  || '-' }}</td>
          <td>{{ item?.date || '-' }}</td>
        </tr>
    </table>

  </ba-card>
</div>


